body{
  background-color: whitesmoke;
}
div>ul>li {
  float:left;
}

div>form>p {
  background: nd-color: whitesmoke;

}
div>ul>li {
  float: left;
}
div>ul>li a {
  color: #000000;
display: block;
  padding: 15px 67.19px;
  text-decoration: none;
  background-color: whitesmoke;

}
#ka {
  position: absolute;
  top: 300px;
  left: 400px;

  text-align: center;
  width: 50%
}
#kak {
  position: absolute;
  top: 500px;
  text-align: center;
  width: 50%
}
#kok {
  position: absolute;
  top: 630px;
}
#coc {
  position: absolute;
  top: 710px;
}
#dikosmu {
  position: absolute;
  top: 540px;
  left: 400px;}
#tet {
 list-style-type: none;
 margin: 0;
 padding: 0;
}

#tat {
  float: left;
padding: 60px 125px;
}
