body{
  background-color: whitesmoke;
}
div>ul>li {
  float:left;
}

div>form>p {
  background: nd-color: whitesmoke;

}
div>ul>li {
  float: left;
}
div>ul>li a {
  color: #000000;
display: block;
  padding: 15px 67.19px;
  text-decoration: none;
  background-color: whitesmoke;

}
#ka {
  position: absolute;
  top: 350px;
  left: 400px;

  text-align: center;
  width: 50%
}
#kok {
  position: absolute;
  top: 770px;
}
#coc {
  position: absolute;
  top: 850px;
}
#dikosmu {
  position: absolute;
  top: 540px;
  left: 400px;
}
